{% extends bill_base %}
{% load static %}


{% block title %} Nomor Nota Pembelian : {{ bill.billno }}{% endblock title %}


{% block content %}

    <div style="color:#575757; font-style: bold; font-size: 3rem;  border-bottom: 1px solid white;">Nomor Nota Pembelian : {{ bill.billno }}</div>
    
    <form method="post">
    {% csrf_token %}
		<center>
        <div class="bg">
        
            <br>
			
            <div id="printArea" class="bg">

                <table id="tbl" style="width: 98mm; font-size: 15px;">
                    <tbody>
                        
                        <tr style="text-align: center;">
                            <td >
                                <span style="font-size: 350%;">TOKO-BARANG</span> <br>
                                <span style="font-size: 120%; font-weight: bold;">NOTA PEMBELIAN</span> <br>
                                Jalan A, Blok B 01, Desa C,<br> Kecamatan D, Kabupaten E, Provinsi F<br>
                                EMAIL : toko_barang00@mail.com<br>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
							<center>
                            <table style="width: 94mm;">
                                <tbody>
                                    <tr>
                                        <td style="width: 50%;">{{ bill.time.date }}</td>
                                        <td style="width: 50%; text-align: right;">{{ bill.time.time }} WIB</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 50%;">NOMOR NOTA</td>
                                        <td style="width: 50%; text-align: right;">{{ bill.billno }}</td>
                                    </tr>
                                    <tr>
										<td style="width: 50%;">NAMA SUPPLIER</td>
										<td style="width: 50%; text-align: right;">{{ bill.supplier.name }}</td>
									</tr>
                                    <tr>
                                        <td style="width: 50%;">ALAMAT</td>
										<td style="width: 50%; text-align: right;">{{ bill.supplier.address }}</td>
									</tr>
                                    <tr>
                                        <td style="width: 50%;">NPWP </td>
										<td style="width: 50%; text-align: right;">{{ bill.supplier.npwp }}</td>
                                    </tr>
                                </tbody>
                            </table>
							</center>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
							<center>
                            <table id="tb" style="width: 94mm; border-top: 1px solid #000;">
                                <tbody>
                                    <tr>
                                        <td style="width: 5%;">NO.</td>
                                        <td style="width: 25%; text-align: center;">BARANG</td>
                                        <td style="width: 22%; text-align: center;">HARGA</td>
										<td style="width: 20%; text-align: center;">JUMLAH</td>
                                        <td style="width: 28%; text-align: right;">SUB-TOTAL</td>
                                    </tr>
                                    {% for item in items %}
                                        <tr style="height: auto;">
                                            <td style="width: 5%;">{{ forloop.counter }}</td>
                                            <td style="width: 25%; text-align: center;">{{ item.stock.name }}_{{ item.stock.grade }}</td>
                                            <td style="width: 22%; text-align: center;">{{ item.perprice }}</td>
											<td style="width: 20%; text-align: center;">{{ item.quantity }}</td>
                                            <td style="width: 28%; text-align: right;">{{ item.totalprice }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
							</center>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
							<center>
                            <table style="width: 94mm; border-top: 1px solid #000;">
                                <tbody>
                                    <tr>
                                        <td style="width: 30%;">PPN (Rp.)</td>
										<td style="width: 2%;">:</td>
                                        <td style="text-align: right;"><input type="text" name="ppn" id="ppn" onchange="upvala()" style="border: 0; overflow: hidden; text-align: right;" value="{% if billdetails.ppn %}{{ billdetails.ppn }}{% endif %}"> </td>
                                    </tr>
									<tr>
										<td >TOTAL (Rp.)</td>
										<td style="width: 2%;">:</td>
									{% if billdetails.total %}
                                        <td style="text-align: right;"><input type="text" name="total" pattern="[0-9]+" style="border: 0; overflow: hidden; text-align: right;" value="{{ billdetails.total }}"> </td>
									{% else %}
										<td style="text-align: right;"><input type="text" name="total" id="total" pattern="[0-9]+" onblur="upt()" style="border: 0; overflow: hidden; text-align: right;" value=""> </td>
										<script>
											var d = 0;
											var a = parseInt(document.getElementById("ppn").value);
											if (a>0){
												d += a;
											}
											var y = document.getElementById("tb").rows.length;
											
											var t = document.getElementById("tb");
											var trs = t.getElementsByTagName("tr");
											for (var i=1; i<y; i++)
											{
												var tds = trs[i].getElementsByTagName("td");
												var z = parseInt(tds[4].innerText);
												d += z;
											}
											document.getElementById("total").value=d;
										</script>
									{% endif %}
                                    </tr>
									<tr>
										<td >BAYAR</td>
										<td style="width: 2%;">:</td>
										<td style="text-align: right;"><input type="text" id="paid" name="paid" pattern="[0-9]+" onchange="pay()" style="border: 0; overflow: hidden; text-align: right;" value="{% if billdetails.paid %}{{ billdetails.paid }}{% endif %}"> </td>
                                    </tr>
									<tr>
                                        <td >STATUS</td>
										<td style="width: 2%;">:</td>
										<td style="text-align: right;"><input type="text" id="stat" name="stat" style="border: 0; overflow: hidden; text-align: right;" value="{% if billdetails.stat %}{{ billdetails.stat }}{% endif %}"> </td>
                                    </tr>
									<tr>
                                        <td >KEMBALIAN</td>
										<td style="width: 2%;">:</td>
										<td style="text-align: right;"><input type="text" id="retur" name="retur" pattern="[0-9]+" style="border: 0; overflow: hidden; text-align: right;" value="{% if billdetails.retur %}{{ billdetails.retur }}{% endif %}"> </td>
                                    </tr>
									<tr>
                                        <td >HUTANG</td>
										<td style="width: 2%;">:</td>
										<td style="text-align: right;"><input type="text" id="debt" name="debt" pattern="[0-9]+" style="border: 0; overflow: hidden; text-align: right;" value="{% if billdetails.debt %}{{ billdetails.debt }}{% endif %}"> </td>
                                    </tr>
								</tbody>
                            </table>
							</center>
							<center>
							<table style="width: 94mm; border-top: 1px solid #000; border-bottom: 1px solid #000;">
								<tbody>
									<tr>
										<td style="width: 35%; text-align: center;" rowspan="5" colspan="2">
                                            <p> <span style="font-weight: bold;">Nomor Rekening <br> Toko-Barang</span> <br>
                                                Bank G: 111111111111111<br>Bank H: 2222222222<br>Bank I: 3333333333333</p>
                                        </td>
									</tr>
                                </tbody>
                            </table>
							</center>
                            </td>
                        </tr>
						
                        <tr>
                            <td style="text-align: right; padding-right: 45px; padding-bottom: 10px;">
                                <span style="font-weight: bold;"> <br><br><br><br> Tanda Tangan</span>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>
			


        </div>

        <br><br>
		</center>
        <div class="wrapper">
            <button class="center btn btn-primary" onclick="printpage('printArea')" type="submit">Cetak</button>
            <button class="center btn btn-warning" type="submit">Simpan Arsip</button>
            <a href="{% url 'purchases-list' %}" class=" btn center btn-secondary">Kembali</a>
        </div>

    </form>
	<style>
		@media print {
		  @page {
			margin:0cm;
		  }
		  body {
			visibility: hidden;
		  }
		  *{margin:0px; padding:0px}
			body,html{padding:0px;margin:0px;}
		  #printArea {
			visibility: visible;
			position: absolute;
			zoom: 100%;
			margin: 0;
			left: 0;
			top: 0;
		  }
		  
		  #tbl {
			visibility: visible;
			position: absolute;
			zoom: 250%;
			margin: 0;
			left: 0;
			top: 0;
		  }
		  table {page-break-inside: avoid;}

		}
	</style>
    <script>
        function upvala() {
			var d = parseInt(document.getElementById("total").value);
			var a = parseInt(document.getElementById("ppn").value);
			if (a>0){
				d += a;
			}
			document.getElementById("total").value=d;
		}
		
		
		function upt() {
			var d = 0;
			var y = document.getElementById("tb").rows.length;
			var t = document.getElementById("tb");
			var trs = t.getElementsByTagName("tr");
			for (var i=1; i<y; i++)
			{
				var tds = trs[i].getElementsByTagName("td");
				var z = parseInt(tds[4].innerText);
				d += z;
			}
			document.getElementById("total").value=d;
		}
		
		function pay() {
			var t = parseInt(document.getElementById("total").value);
			var p = parseInt(document.getElementById("paid").value);
			var c = t-p;
			var l = "Lunas";
			var b = "Belum Lunas";
			var z = 0;
			var n = -1;
			if (c>0){
				document.getElementById("debt").value=c;
				document.getElementById("stat").value=b;
				document.getElementById("retur").value=z;
			}
			else{
				var r = c*n;
				document.getElementById("debt").value=z;
				document.getElementById("stat").value=l;
				document.getElementById("retur").value=r;
			}
		}
		
		function printpage(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }       
        </script>

{% endblock %}