{% extends "base.html" %}


{% block title %} Hapus Riwayat Stok {% endblock title %}


{% block content %}
                
    <form method="post">
        
        {% csrf_token %}
        
        <fieldset class="form-group">
            <div style="color:#575757; font-style: bold; font-size: 3rem; border-bottom: 1px solid white;">Hapus Riwayat Stok</div> <br>
            <h2 style="color:#575757;">Apakah anda yakin akan menghapus riwayat stok untuk "{{ object.name }}_{{ object.grade }}"?</h2>
        </fieldset>

        <div class="form-group">  
            <button type="submit" class="btn btn-danger">Ya, Hapus</button>
            <a href="{% url 'history' %}" class="btn btn-secondary">Batal</a>
        </div>
        
    </form>

{% endblock content %}