{% extends "base.html" %}


{% block title %} Hapus Pembelian {% endblock title %}


{% block content %}
                
    <form method="post">
        
        {% csrf_token %}
        
        <fieldset class="form-group">
            <div style="color:#575757; font-style: bold; font-size: 3rem; border-bottom: 1px solid white;">Hapus Nota Pembelian</div> <br>
            <h2 style="color:#575757;">Apakah Anda yakin akan menghapus nota pembelian nomor: {{ object.billno }}?</h2>
        </fieldset>

        <div class="form-group">  
            <button type="submit" class="btn btn-danger">Ya, Hapus</button>
            <a href="{% url 'purchases-list' %}" class="btn btn-secondary">Batal</a>
        </div>
        
    </form>

{% endblock content %}