{% extends "base.html" %}

{% load widget_tweaks %}


{% block title %} Daftar Suppliers {% endblock title %}


{% block content %}
    
    <div class="row" style="color: #575757; font-style: bold; font-size: 3rem;">
        <div class="col-md-8">Daftar Supplier</div>
        <div class="col-md-4">   
            <div style="float:right;"> <a class="btn btn-primary" href="{% url 'new-supplier' %}">Tambah Supplier Baru</a> </div>
        </div>
    </div>

    <br>

    <table class="table table-css table-hover table-bordered">
        
        <thead class="thead-dark align-middle">
            <tr>
                <th width="20%">Nama</th>
                <th width="20%">Kontak</th>
				<th width="20%">Jumlah Hutang (Rp)</th>
                <th width="40%">Aksi</th>
            </tr>
        </thead>

{% if object_list %}

        <tbody>
            {% for supplier in object_list %}
            <tr>
                <td class="align-middle">
                    <a href="{% url 'supplier' supplier.name %}" style="color: #4c50af">{{ supplier.name }}</a>
                </td>
                <td class="align-middle"> {{ supplier.phone }} </td>
				<td class="align-middle"> {{ supplier.t_debt }} </td>
                <td class="align-middle">
                    <div class="align-middle">
                        <a href="{% url 'edit-supplier' supplier.pk %}" class="btn btn-secondary btn-sm">Ubah Detil</a>
						{% if supplier.t_debt == 0 %}
							<a href="{% url 'supdebt-payment' supplier.pk %}" ><button class="btn btn-primary btn-sm" disabled>Lunasi Hutang</button></a>
						{% else %}
							<a href="{% url 'supdebt-payment' supplier.pk %}" ><button class="btn btn-primary btn-sm" >Lunasi Hutang</button></a>
						{% endif %}
                        <a href="{% url 'delete-supplier' supplier.pk %}" class="btn btn-danger btn-sm">Hapus Supplier</a>
                    </div>
                </td>              
            </tr>
            {% endfor %}
        </tbody>

    </table>

    <div class="align-middle">
        {% if is_paginated %}

            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">Awal</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Sebelumnya</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Selanjutnya</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Akhir</a>
            {% endif %}

        {% endif %}
    </div>

{% else %}

        <tbody></tbody>   
    </table>

    <br><br><br><br><br><br><br><br>
    <div style="color: #575757; font-style: bold; font-size: 1.5rem; text-align: center;">Daftar masih kosong. Silahkan menambahkan supplier baru.</div>

{% endif %}


{% endblock content %}